<div class="row">
	<div class="col-md-offset-4 col-md-3">
		<div class="well">
			<div class="alert alert-success" ng-if="success_message">[[ success_message ]]</div>
			<div class="alert alert-danger" ng-if="errors.length">
				<div ng-repeat="error in errors">[[ error ]]</div>	
			</div>
			<form ng-submit="createUser()" role="form">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" ng-model="userdata.name" on-submit-focus="0" autofocus>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" class="form-control" ng-model="userdata.email">
				</div>
				<button class="btn btn-primary" type="submit">Submit</button>
			</form>
		</div>
	</div>
</div>